@using Microsoft.AspNet.Identity
@if (User.IsInRole("User"))
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    //@Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <span>Zalogowany, @User.Identity.Name</span>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
@if (User.IsInRole("Driver"))
{
    using (Html.BeginForm("Logout", "Driver", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        //@Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <span>Zalogowany, @User.Identity.Name</span>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
