@using Microsoft.AspNet.Identity
@if (User.IsInRole("User"))
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="text-success"><a>Zalogowany, @User.Identity.Name</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
@if (User.IsInRole("Driver"))
{
    using (Html.BeginForm("Logout", "Driver", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="text-success"><a>Zalogowany, @User.Identity.Name</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
